DATABASE_URL=postgres://mc_auth_db:AEu6QOYcCVzNnoky09oz0VywTWkhgjMv@dpg-d381ttmmcj7s7380jvtg-a.oregon-postgres.render.com:5432/mc_auth_db
TG_BOT_TOKEN=8244205278:AAHlpb6WTZursm2U246DKebqsou1Za-PoJY
BOT_USERNAME=DelphinKey_Bot
BACKEND_URL=https://delphin-flask-1.onrender.com
JWT_SECRET=supersecret
